body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F8F4;
}
.header {
    background-color: #3332322f;
    max-width: 100vw;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}
.hipervinculos {
    display: flex;
    padding: 15px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    list-style: none;
}
.hipervinculos a {
    padding-left: 3.5vw;
    padding-right: 6vw;
    text-decoration: none;
    color: #1b9744;
}
.informacion {
    background-color:#3332322f;
    max-width: 25vw;
    height: 245px;
    text-align: justify;
    display: flex;
    margin-left: 15px;
    border-radius: 25px;
}
.informacion p {
    padding-left: 25px;
    color: #1b9744;
    padding-top: 5px;
}
.datos {
    padding: 1vw;
}